.uk-card-default.block--history {
  background: linear-gradient( $card-history, darken($card-history, 10%) );
  h3 {
    color: #fff;
  }
  &:hover {
    background: linear-gradient( $card-history, darken($card-history, 0%) );
  }
}
