<div class="uk-card uk-card-default uk-card-body uk-card-hover homepage__block uk-padding-remove">
    <a href="/galeria.html">
      <div class="gallery__slides">
        <div class="gallery__slide uk-background-cover" style="background-image: url(/images/photos/photo_17.jpg);"></div>
        <div class="gallery__slide uk-background-cover" style="background-image: url(/images/photos/photo_5.jpg);"></div>
        <div class="gallery__slide uk-background-cover" style="background-image: url(/images/photos/photo_2.jpg);"></div>
      </div>
    </a>
  <div class="uk-slidenav-container uk-position-bottom-right uk-padding-small uk-overlay uk-overlay-default">
    <a class="uk-slidenav-large slidenav--left" href="#" uk-slidenav-previous></a>
    <a class="uk-slidenav-large slidenav--right" href="#" uk-slidenav-next></a>
  </div>
</div>
