<div class="uk-card uk-light uk-card-default uk-card-body uk-card-hover homepage__block uk-card-large block--history">
  <blockquote cite="#" class="uk-text-muted">
    <p>
      Dom – to nie tapety, nie meble,<br> nie kąt z żyrandolem, obrazem.<br> Dom – to tam, gdzie choćby pod gołym niebem <br> ludzie są razem.</p>
    <p>
      Tam, gdzie jasno wieczorem ciemnym, <br> tam, gdzie ciepło, choćby wicher dął. <br> Starczy, że mocno chcemy – <br> a zbudowaliśmy dom...</p>
    <footer>Wiktor Woroszylski</footer>
  </blockquote>
</div>
