<div class="uk-section uk-section-medium uk-section-muted blocks-section">
  <div class="uk-container">
    <div class="uk-grid-medium uk-grid-match" uk-grid uk-scrollspy="target:.homapage__block; cls:uk-animation-slide-top-small; delay: 500">
      <div class="uk-width-1-1 uk-width-2-3@m">
        {{> block-about}}
      </div>
      <div class="uk-width-1-1 uk-width-1-3@m">
        {{> block-documents}}
      </div>
      <div class="uk-width-1-1 uk-width-1-2@m">
        {{> block-gallery}}
      </div>
      <div class="uk-width-1-1 uk-width-1-2@m">
        {{> block-history}}
      </div>
    </div>
  </div>
</div>
