<div class="uk-card uk-box-shadow-large uk-card-default top-section__card">
  <div class="uk-card-media-top">
    <div id="map" class="map__box">
    </div>
  </div>
  <div class="uk-card-body uk-text-center">
      <p class="uk-text-bold"><span class="uk-text-meta">telefon:</span>&nbsp;888 210 924</p>
      <p class="uk-text-bold"><span class="uk-text-meta">adres:</span>&nbsp;Wąworków 34</p>
      <p class="uk-text-bold"><span class="uk-text-meta">poczta:</span>&nbsp;27-500 Opatów</p>
  </div>
</div>
