<div class="uk-section uk-section-default uk-section-large">
  <div class="uk-container uk-container-small" uk-scrollspy="target: > div; cls:uk-animation-slide-top-small; delay: 500">

    <h1 class="uk-heading-line uk-text-center uk-margin-medium-bottom"><span>Życie jest drogą</span></h1>

    <!-- <div class="uk-text-center">
      <p>Trochę wspomnień i refleksji związanych z naszym Schroniskiem.</p>
      <hr class="uk-divider-small uk-margin-large">
    </div> -->

    <div class="uk-column-1-1">
      <p class="uk-dropcap">To słowa, które dość często słyszymy, a w drodze, jak w każdej podróży, zdarzają się różne przygody. Poznajemy ludzi, podejmujemy decyzje, które weryfikuje samo życie, czasem  pojawiają się nieprzewidziane kryzysy, wypadki czy choroby. Czasem zwyczajny splot różnych zdarzeń powoduje, że na tej pełnej wyzwań drodze człowiek - często już starszy - zostaje tylko z własną bezsilnością, bezdomny i samotny.</p>
      <p>W takich momentach potrzebna jest podstawowa pomoc, jak choćby miejsce na nocleg, kawałek chleba, trochę wody, zrozumienia i zwykłej życzliwości.</p>
    </div>

    <blockquote cite="#" class="uk-column-span uk-margin-medium uk-text-center" uk-scrollspy="cls: uk-animation-fade; repeat: true">
      <p>Schronisko może być przystanią, może dać schronienie, opiekę, może pomóc człowiekowi podnieść się i zebrać siły do dalszej życiowej drogi.</p>
      <!-- <footer>Gandalf in in <cite><a href="">The Fellowship of the Ring</a></cite></footer> -->
    </blockquote>

    <div class="uk-column-1-2@s uk-column-divider">

      <p>Maria Janik chciała aby mieszkańcy schroniska czuli się w nim jak najlepiej, choć miała świadomość, że schronisko nigdy nie zastąpi w pełni prawdziwego rodzinnego domu, to jednak może być przystanią, może dać schronienie, opiekę, może pomóc człowiekowi podnieść się i zebrać siły do dalszej życiowej drogi.</p>

      <p>Schronisko w Wąworkowie działa już ponad 20 lat. W tym czasie życiową przystań znajdowało tu wiele osób, każda z nich przynosiła oprócz swoich doświadczeń, także swoją niepowtarzalną osobowość, swoje obserwacje i przemyślenia.</p>

      <p>Każda z tych osób miała jakiś szczególny wpływ na to miejsce - miejsce, które powstało i istnieje dzięki osobom dostrzegającym sens w zwykłym pomaganiu drugiemu człowiekowi.</p>
    </div>

    <!-- <div class="uk-text-center uk-margin-medium">
      <a href="#" class="uk-button uk-button-default">Czytaj więcej</a>
    </div> -->

  </div>
</div>
