<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pomagamy w trudnych sytuacjach życiowych. Nasze Schronisko prowadzone jest przez Stowarzyszenie Samotnych Rencistów, Emerytów i Inwalidów w Pobroszynie.">
    <meta name="robots" content="index,follow,noodp">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <meta name="theme-color" content="#222">
    <title>Schronisko w Pobroszynie</title>
    {{> scripts}}
    <link rel="stylesheet" href="{{root}}css/main.css">
  </head>
  <body>
    {{> header}}
    {{> body}}
    {{> footer}}
  </body>
</html>
